.elementor-20686 .elementor-element.elementor-element-7c5c2904 > .elementor-container {
    max-width: 1250px;
}

.elementor-20686 .elementor-element.elementor-element-7c5c2904 > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-20686 .elementor-element.elementor-element-7c5c2904:not(.elementor-motion-effects-element-type-background), .elementor-20686 .elementor-element.elementor-element-7c5c2904 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFC13C;
}

.elementor-20686 .elementor-element.elementor-element-7c5c2904 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 0px 25px 0px;
}

.elementor-20686 .elementor-element.elementor-element-7c5c2904 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20686 .elementor-element.elementor-element-5c8c9dce {
    text-align: left;
}

.elementor-20686 .elementor-element.elementor-element-5c8c9dce .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 45px;
    font-weight: 300;
    line-height: 50px;
}

.elementor-20686 .elementor-element.elementor-element-5c8c9dce > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-20686 .elementor-element.elementor-element-5419d909.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-20686 .elementor-element.elementor-element-5419d909.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-field-group {
    padding-right: calc( 4px/2 );
    padding-left: calc( 4px/2 );
    margin-bottom: 0px;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-form-fields-wrapper {
    margin-left: calc( -4px/2 );
    margin-right: calc( -4px/2 );
    margin-bottom: -0px;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-field-group.recaptcha_v3-bottomleft, .elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-labels-inline .elementor-field-group > label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-labels-inline .elementor-field-group > label {
    padding-right: 0px;
}

body .elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-labels-above .elementor-field-group > label {
    padding-bottom: 0px;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-field-type-html {
    padding-bottom: 0px;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    line-height: 1px;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-field-group .elementor-field, .elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-field-subgroup label {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    line-height: 0px;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-weight: 300;
    line-height: 0px;
    letter-spacing: 0px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .e-form__buttons__wrapper__button-next {
    background-color: #021844;
    color: #ffffff;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-button[type="submit"] {
    background-color: #021844;
    color: #ffffff;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e .elementor-message {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-20686 .elementor-element.elementor-element-b1f255e {
    --e-form-steps-indicators-spacing: 15px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-20686 .elementor-element.elementor-element-2a91f09 > .elementor-container {
    max-width: 1250px;
}

.elementor-20686 .elementor-element.elementor-element-2a91f09:not(.elementor-motion-effects-element-type-background), .elementor-20686 .elementor-element.elementor-element-2a91f09 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #021844;
}

.elementor-20686 .elementor-element.elementor-element-2a91f09 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 015px 0px;
}

.elementor-20686 .elementor-element.elementor-element-2a91f09 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20686 .elementor-element.elementor-element-40901df7 .elementor-heading-title {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.elementor-20686 .elementor-element.elementor-element-5b5e3c7 {
    --divider-border-style: solid;
    --divider-color: #FFC13C;
    --divider-border-width: 2.5px;
}

.elementor-20686 .elementor-element.elementor-element-5b5e3c7 .elementor-divider-separator {
    width: 15%;
}

.elementor-20686 .elementor-element.elementor-element-5b5e3c7 .elementor-divider {
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-20686 .elementor-element.elementor-element-5b5e3c7 > .elementor-widget-container {
    margin: -13px 0px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-d694bcd {
    text-align: justify;
    color: #9CA2AA;
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-20686 .elementor-element.elementor-element-d694bcd > .elementor-widget-container {
    padding: 0px 15px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-2e5e055 .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #61CE7000;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 1px 1px 1px 1px;
}

.elementor-20686 .elementor-element.elementor-element-2e5e055 .elementor-button:hover, .elementor-20686 .elementor-element.elementor-element-2e5e055 .elementor-button:focus {
    color: #021844;
    background-color: #FFFFFF;
}

.elementor-20686 .elementor-element.elementor-element-2e5e055 .elementor-button:hover svg, .elementor-20686 .elementor-element.elementor-element-2e5e055 .elementor-button:focus svg {
    fill: #021844;
}

.elementor-20686 .elementor-element.elementor-element-5f1df3e6 {
    text-align: left;
}

.elementor-20686 .elementor-element.elementor-element-5f1df3e6 .elementor-heading-title {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.elementor-20686 .elementor-element.elementor-element-956f985 {
    --divider-border-style: solid;
    --divider-color: #FFC13C;
    --divider-border-width: 2.5px;
}

.elementor-20686 .elementor-element.elementor-element-956f985 .elementor-divider-separator {
    width: 15%;
}

.elementor-20686 .elementor-element.elementor-element-956f985 .elementor-divider {
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-20686 .elementor-element.elementor-element-956f985 > .elementor-widget-container {
    margin: -13px 0px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-icon i {
    color: #FFC13C;
    transition: color 0.3s;
}

.elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-icon svg {
    fill: #FFC13C;
    transition: fill 0.3s;
}

.elementor-20686 .elementor-element.elementor-element-710021c {
    --e-icon-list-icon-size: 13px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-offset: 0px;
}

.elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-icon {
    padding-right: 4px;
}

.elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-item > .elementor-icon-list-text, .elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-item > a {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
}

.elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-text {
    color: #9CA2AA;
    transition: color 0.3s;
}

.elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #DEE0E3;
}

.elementor-20686 .elementor-element.elementor-element-710021c > .elementor-widget-container {
    border-radius: 0px 0px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-icon i {
    color: #FFC13C;
    transition: color 0.3s;
}

.elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-icon svg {
    fill: #FFC13C;
    transition: fill 0.3s;
}

.elementor-20686 .elementor-element.elementor-element-44c8910 {
    --e-icon-list-icon-size: 13px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-offset: 0px;
}

.elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-icon {
    padding-right: 4px;
}

.elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-item > a {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
}

.elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-text {
    color: #9CA2AA;
    transition: color 0.3s;
}

.elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #DEE0E3;
}

.elementor-20686 .elementor-element.elementor-element-44c8910 > .elementor-widget-container {
    border-radius: 0px 0px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-5952afe {
    text-align: left;
}

.elementor-20686 .elementor-element.elementor-element-5952afe .elementor-heading-title {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.elementor-20686 .elementor-element.elementor-element-3bbb0b1 {
    --divider-border-style: solid;
    --divider-color: #FFC13C;
    --divider-border-width: 2.5px;
}

.elementor-20686 .elementor-element.elementor-element-3bbb0b1 .elementor-divider-separator {
    width: 15%;
}

.elementor-20686 .elementor-element.elementor-element-3bbb0b1 .elementor-divider {
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-20686 .elementor-element.elementor-element-3bbb0b1 > .elementor-widget-container {
    margin: -13px 0px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-icon i {
    color: #FFC13C;
    transition: color 0.3s;
}

.elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-icon svg {
    fill: #FFC13C;
    transition: fill 0.3s;
}

.elementor-20686 .elementor-element.elementor-element-5594506 {
    --e-icon-list-icon-size: 13px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-offset: 0px;
}

.elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-icon {
    padding-right: 4px;
}

.elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-item > a {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
}

.elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-text {
    color: #9CA2AA;
    transition: color 0.3s;
}

.elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #DEE0E3;
}

.elementor-20686 .elementor-element.elementor-element-5594506 > .elementor-widget-container {
    border-radius: 0px 0px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-13508d66 .elementor-heading-title {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.elementor-20686 .elementor-element.elementor-element-f197d53 {
    --divider-border-style: solid;
    --divider-color: #FFC13C;
    --divider-border-width: 2.5px;
}

.elementor-20686 .elementor-element.elementor-element-f197d53 .elementor-divider-separator {
    width: 15%;
}

.elementor-20686 .elementor-element.elementor-element-f197d53 .elementor-divider {
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-20686 .elementor-element.elementor-element-f197d53 > .elementor-widget-container {
    margin: -13px 0px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-ba4f0f3 {
    text-align: left;
}

.elementor-20686 .elementor-element.elementor-element-2b943fc6 .elementor-heading-title {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.elementor-20686 .elementor-element.elementor-element-122459f {
    --divider-border-style: solid;
    --divider-color: #FFC13C;
    --divider-border-width: 2.5px;
}

.elementor-20686 .elementor-element.elementor-element-122459f .elementor-divider-separator {
    width: 15%;
}

.elementor-20686 .elementor-element.elementor-element-122459f .elementor-divider {
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-20686 .elementor-element.elementor-element-122459f > .elementor-widget-container {
    margin: -13px 0px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-83456d8 {
    color: #9CA2AA;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
}

.elementor-20686 .elementor-element.elementor-element-83456d8 > .elementor-widget-container {
    padding: 0px 15px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-dfb19da {
    color: #9CA2AA;
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.elementor-20686 .elementor-element.elementor-element-dfb19da > .elementor-widget-container {
    padding: 0px 15px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-73939a2 {
    color: #9CA2AA;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
}

.elementor-20686 .elementor-element.elementor-element-73939a2 > .elementor-widget-container {
    padding: 0px 15px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-69756b9 {
    color: #9CA2AA;
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.elementor-20686 .elementor-element.elementor-element-69756b9 > .elementor-widget-container {
    padding: 0px 15px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-d9e840a {
    color: #9CA2AA;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
}

.elementor-20686 .elementor-element.elementor-element-d9e840a > .elementor-widget-container {
    padding: 0px 15px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-b81816f {
    color: #9CA2AA;
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.elementor-20686 .elementor-element.elementor-element-b81816f > .elementor-widget-container {
    padding: 0px 15px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-48e34ebc > .elementor-container {
    max-width: 1250px;
    min-height: 79px;
}

.elementor-20686 .elementor-element.elementor-element-48e34ebc > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-20686 .elementor-element.elementor-element-48e34ebc:not(.elementor-motion-effects-element-type-background), .elementor-20686 .elementor-element.elementor-element-48e34ebc > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #021231;
}

.elementor-20686 .elementor-element.elementor-element-48e34ebc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-20686 .elementor-element.elementor-element-48e34ebc > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20686 .elementor-element.elementor-element-07ac98d {
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: auto;
    max-width: auto;
}

.elementor-20686 .elementor-element.elementor-element-07ac98d > .elementor-widget-container {
    padding: 12px 0px 0px 0px;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-repeater-item-0267196.elementor-social-icon {
    background-color: #021844;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-repeater-item-0267196.elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-repeater-item-0267196.elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-repeater-item-7148b35.elementor-social-icon {
    background-color: #021844;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-repeater-item-7148b35.elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-repeater-item-7148b35.elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-repeater-item-dbaeb71.elementor-social-icon {
    background-color: #021844;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-repeater-item-dbaeb71.elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-repeater-item-dbaeb71.elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 16px;
    --grid-column-gap: 3px;
    --grid-row-gap: 0px;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-widget-container {
    text-align: right;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-social-icon {
    background-color: #32566200;
    --icon-padding: 0.9em;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-social-icon i {
    color: rgba(255,255,255,0.39);
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-social-icon svg {
    fill: rgba(255,255,255,0.39);
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-social-icon:hover {
    background-color: #FFC13C;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-social-icon:hover i {
    color: #021844;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-social-icon:hover svg {
    fill: #021844;
}

.elementor-20686 .elementor-element.elementor-element-a5ca610 > .elementor-widget-container {
    margin: 4px 0px 0px 0px;
}

@media(max-width: 1024px) {
    .elementor-20686 .elementor-element.elementor-element-7c5c2904 {
        padding:50px 20px 50px 20px;
    }

    .elementor-20686 .elementor-element.elementor-element-5c8c9dce .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-item > .elementor-icon-list-text, .elementor-20686 .elementor-element.elementor-element-710021c .elementor-icon-list-item > a {
        font-size: 13px;
    }

    .elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-20686 .elementor-element.elementor-element-44c8910 .elementor-icon-list-item > a {
        font-size: 13px;
    }

    .elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-item > a {
        font-size: 13px;
    }

    .elementor-20686 .elementor-element.elementor-element-48e34ebc {
        padding: 25px 20px 25px 20px;
    }

    .elementor-20686 .elementor-element.elementor-element-07ac98d > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-widget-container {
        text-align: center;
    }

    .elementor-20686 .elementor-element.elementor-element-a5ca610 > .elementor-widget-container {
        padding: 15px 0px 0px 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-a5ca610 {
        width: 100%;
        max-width: 100%;
    }
}

@media(max-width: 767px) {
    .elementor-20686 .elementor-element.elementor-element-7c5c2904 {
        padding:30px 20px 30px 20px;
    }

    .elementor-20686 .elementor-element.elementor-element-5c8c9dce {
        text-align: left;
    }

    .elementor-20686 .elementor-element.elementor-element-5c8c9dce .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-20686 .elementor-element.elementor-element-5c8c9dce > .elementor-widget-container {
        padding: 0px 0px 15px 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-5419d909 {
        width: 100%;
    }

    .elementor-20686 .elementor-element.elementor-element-2a91f09 {
        padding: 15px 3px 15px 3px;
    }

    .elementor-20686 .elementor-element.elementor-element-d694bcd > .elementor-widget-container {
        margin: -18px 0px 0px 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-2e5e055 > .elementor-widget-container {
        margin: -18px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-f0932d5 > .elementor-element-populated {
        margin: -6px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-5f1df3e6 > .elementor-widget-container {
        margin: 11px 0px 0px 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-eb97ef7 {
        margin-top: -30px;
        margin-bottom: -20px;
    }

    .elementor-20686 .elementor-element.elementor-element-50b73a7 {
        width: 50%;
    }

    .elementor-20686 .elementor-element.elementor-element-50b73a7 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-710021c {
        width: var( --container-widget-width, 145px );
        max-width: 145px;
        --container-widget-width: 145px;
        --container-widget-flex-grow: 0;
    }

    .elementor-20686 .elementor-element.elementor-element-c94604e {
        width: 50%;
    }

    .elementor-20686 .elementor-element.elementor-element-44c8910 {
        width: var( --container-widget-width, 145px );
        max-width: 145px;
        --container-widget-width: 145px;
        --container-widget-flex-grow: 0;
    }

    .elementor-20686 .elementor-element.elementor-element-5952afe > .elementor-widget-container {
        margin: 17px 0px 0px 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-231ff71 {
        margin-top: -15px;
        margin-bottom: -20px;
    }

    .elementor-20686 .elementor-element.elementor-element-47e1a3a {
        width: 100%;
    }

    .elementor-20686 .elementor-element.elementor-element-47e1a3a > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-47e1a3a > .elementor-element-populated {
        margin: -14px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(0px/2);
    }

    .elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(0px/2);
    }

    .elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(0px/2);
        margin-left: calc(0px/2);
    }

    .elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-0px/2);
        margin-left: calc(-0px/2);
    }

    body.rtl .elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-0px/2);
    }

    body:not(.rtl) .elementor-20686 .elementor-element.elementor-element-5594506 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-0px/2);
    }

    .elementor-20686 .elementor-element.elementor-element-5594506 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-20686 .elementor-element.elementor-element-13508d66 > .elementor-widget-container {
        margin: -5px 0px 0px 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-ba4f0f3 {
        text-align: center;
    }

    .elementor-20686 .elementor-element.elementor-element-ba4f0f3 > .elementor-widget-container {
        margin: -4px 0px 0px 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-052f095 > .elementor-element-populated {
        padding: 14px 0px 0px 16px;
    }

    .elementor-20686 .elementor-element.elementor-element-48e34ebc {
        padding: 20px 20px 20px 20px;
    }

    .elementor-20686 .elementor-element.elementor-element-07ac98d > .elementor-widget-container {
        margin: 0px 0px -17px 0px;
        padding: 0px 0px 10px 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-a5ca610 .elementor-widget-container {
        text-align: center;
    }

    .elementor-20686 .elementor-element.elementor-element-a5ca610 > .elementor-widget-container {
        margin: -19px 0px 0px 0px;
    }

    .elementor-20686 .elementor-element.elementor-element-a5ca610 {
        width: 100%;
        max-width: 100%;
    }
}

@media(min-width: 768px) {
    .elementor-20686 .elementor-element.elementor-element-477fdd10 {
        width:49.107%;
    }

    .elementor-20686 .elementor-element.elementor-element-5419d909 {
        width: 50.763%;
    }

    .elementor-20686 .elementor-element.elementor-element-c73e607 {
        width: 70.351%;
    }

    .elementor-20686 .elementor-element.elementor-element-104506c {
        width: 29.605%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-20686 .elementor-element.elementor-element-477fdd10 {
        width:50%;
    }

    .elementor-20686 .elementor-element.elementor-element-5419d909 {
        width: 25%;
    }
}
