.elementor-20261 .elementor-element.elementor-element-f0d15b3 > .elementor-container {
    max-width: 1350px;
}

.elementor-20261 .elementor-element.elementor-element-f0d15b3 {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-f0d15b3:not(.elementor-motion-effects-element-type-background), .elementor-20261 .elementor-element.elementor-element-f0d15b3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFC13C;
}

.elementor-20261 .elementor-element.elementor-element-f0d15b3 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20261 .elementor-element.elementor-element-fb1b264 .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-20261 .elementor-element.elementor-element-fb1b264 .elementor-nav-menu .elementor-item {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-20261 .elementor-element.elementor-element-fb1b264 .elementor-nav-menu--main .elementor-item {
    color: #000000;
    fill: #000000;
}

.elementor-20261 .elementor-element.elementor-element-fb1b264 .elementor-nav-menu--main .elementor-item:hover, .elementor-20261 .elementor-element.elementor-element-fb1b264 .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-20261 .elementor-element.elementor-element-fb1b264 .elementor-nav-menu--main .elementor-item.highlighted, .elementor-20261 .elementor-element.elementor-element-fb1b264 .elementor-nav-menu--main .elementor-item:focus {
    color: #800000;
    fill: #800000;
}

.elementor-20261 .elementor-element.elementor-element-fb1b264 > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-fb1b264 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-bc-flex-widget .elementor-20261 .elementor-element.elementor-element-c791d0c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-20261 .elementor-element.elementor-element-c791d0c.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-20261 .elementor-element.elementor-element-c791d0c:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-20261 .elementor-element.elementor-element-c791d0c > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFC13C;
}

.elementor-20261 .elementor-element.elementor-element-c791d0c > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-20261 .elementor-element.elementor-element-c791d0c > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20261 .elementor-element.elementor-element-2eff896 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-20261 .elementor-element.elementor-element-2eff896.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-2eff896.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-2eff896.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-2eff896.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-2eff896.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-20261 .elementor-element.elementor-element-2eff896 .elementor-icon {
    font-size: 18px;
}

.elementor-20261 .elementor-element.elementor-element-2eff896 .elementor-icon svg {
    height: 18px;
}

.elementor-20261 .elementor-element.elementor-element-2eff896 > .elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-2eff896 {
    width: auto;
    max-width: auto;
}

.elementor-20261 .elementor-element.elementor-element-304cea5 > .elementor-widget-container {
    margin: 6px 0px 0px 7px;
    padding: 0px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-304cea5 {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-20261 .elementor-element.elementor-element-480dab5.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-20261 .elementor-element.elementor-element-480dab5.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-20261 .elementor-element.elementor-element-480dab5.elementor-column > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-20261 .elementor-element.elementor-element-88eefae.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-88eefae.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-88eefae.elementor-view-default .elementor-icon {
    fill: #000000;
    color: #000000;
    border-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-88eefae {
    --icon-box-icon-margin: 7px;
    width: auto;
    max-width: auto;
}

.elementor-20261 .elementor-element.elementor-element-88eefae .elementor-icon {
    font-size: 18px;
}

.elementor-20261 .elementor-element.elementor-element-88eefae .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-88eefae .elementor-icon-box-title, .elementor-20261 .elementor-element.elementor-element-88eefae .elementor-icon-box-title a {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-20261 .elementor-element.elementor-element-153aa99.elementor-view-stacked .elementor-icon {
    background-color: #800000;
}

.elementor-20261 .elementor-element.elementor-element-153aa99.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-153aa99.elementor-view-default .elementor-icon {
    color: #800000;
    border-color: #800000;
}

.elementor-20261 .elementor-element.elementor-element-153aa99.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-153aa99.elementor-view-default .elementor-icon svg {
    fill: #800000;
}

.elementor-20261 .elementor-element.elementor-element-153aa99 .elementor-icon {
    font-size: 18px;
}

.elementor-20261 .elementor-element.elementor-element-153aa99 .elementor-icon svg {
    height: 18px;
}

.elementor-20261 .elementor-element.elementor-element-153aa99 > .elementor-widget-container {
    margin: 5px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-153aa99 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-20261 .elementor-element.elementor-element-2e345a8 > .elementor-widget-container {
    margin: 0px 0px 0px -12px;
}

.elementor-20261 .elementor-element.elementor-element-2e345a8 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-20261 .elementor-element.elementor-element-1fe27c1.elementor-column > .elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-20261 .elementor-element.elementor-element-46baa62 > .elementor-widget-container {
    margin: 05px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-46baa62 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-20261 .elementor-element.elementor-element-2a421cd.elementor-column > .elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-20261 .elementor-element.elementor-element-145f333.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-145f333.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-145f333.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-145f333.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-145f333.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-20261 .elementor-element.elementor-element-145f333 .elementor-icon {
    font-size: 18px;
}

.elementor-20261 .elementor-element.elementor-element-145f333 .elementor-icon svg {
    height: 18px;
}

.elementor-20261 .elementor-element.elementor-element-145f333 > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-145f333 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-20261 .elementor-element.elementor-element-f5abf6b > .elementor-widget-container {
    margin: 5px 0px 0px 5px;
}

.elementor-20261 .elementor-element.elementor-element-f5abf6b {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-20261 .elementor-element.elementor-element-34fb94b.elementor-column > .elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-20261 .elementor-element.elementor-element-69a9379.elementor-view-stacked .elementor-icon {
    background-color: #800000;
}

.elementor-20261 .elementor-element.elementor-element-69a9379.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-69a9379.elementor-view-default .elementor-icon {
    color: #800000;
    border-color: #800000;
}

.elementor-20261 .elementor-element.elementor-element-69a9379.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-69a9379.elementor-view-default .elementor-icon svg {
    fill: #800000;
}

.elementor-20261 .elementor-element.elementor-element-69a9379 .elementor-icon {
    font-size: 18px;
}

.elementor-20261 .elementor-element.elementor-element-69a9379 .elementor-icon svg {
    height: 18px;
}

.elementor-20261 .elementor-element.elementor-element-69a9379 > .elementor-widget-container {
    margin: 5px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-69a9379 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-20261 .elementor-element.elementor-element-aada273 > .elementor-widget-container {
    margin: -2px 0px 0px -12px;
}

.elementor-20261 .elementor-element.elementor-element-aada273 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-20261 .elementor-element.elementor-element-63ab213 > .elementor-container {
    max-width: 1350px;
    min-height: 100px;
}

.elementor-20261 .elementor-element.elementor-element-d89416c {
    text-align: left;
}

.elementor-20261 .elementor-element.elementor-element-d89416c img {
    max-width: 100%;
}

.elementor-20261 .elementor-element.elementor-element-d89416c > .elementor-widget-container {
    margin: 7px 0px 15px 10px;
    padding: 0px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu .elementor-item {
    font-family: "custom-raleway", Sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--main .elementor-item {
    color: #3E3D3F;
    fill: #3E3D3F;
    padding-left: 13px;
    padding-right: 13px;
}

.elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--main .elementor-item:hover, .elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--main .elementor-item.highlighted, .elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--main .elementor-item:focus {
    color: #FFC13C;
    fill: #FFC13C;
}

.elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #800000;
}

.elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--dropdown a, .elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-menu-toggle {
    color: #FFFFFF;
}

.elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--dropdown {
    background-color: #3E3D3F;
}

.elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--dropdown a:hover, .elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--dropdown a.highlighted, .elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-menu-toggle:hover {
    color: #FFC13C;
}

.elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--dropdown a:hover, .elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #3E3D3F;
}

.elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--dropdown .elementor-item, .elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Raleway", Sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--dropdown a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.elementor-20261 .elementor-element.elementor-element-7b540e1 .elementor-nav-menu--dropdown li:not(:last-child) {
    border-style: solid;
    border-color: #584B4B;
    border-bottom-width: 1px;
}

.elementor-20261 .elementor-element.elementor-element-7b540e1 > .elementor-widget-container {
    margin: 0px -37px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 {
    --main-alignment: left;
    --mini-cart-spacing: 0px;
    --divider-style: solid;
    --subtotal-divider-style: solid;
    --elementor-remove-from-cart-button: none;
    --remove-from-cart-button: block;
    --toggle-button-icon-color: #3E3D3F;
    --toggle-button-border-width: 0px;
    --toggle-icon-size: 22px;
    --cart-border-style: none;
    --remove-item-button-size: 30px;
    --menu-cart-subtotal-color: #3CA84B;
    --product-price-color: #383131;
    --cart-footer-layout: 1fr 1fr;
    --products-max-height-sidecart: calc(100vh - 240px);
    --products-max-height-minicart: calc(100vh - 385px);
    --cart-footer-buttons-border-radius: 0px;
    --view-cart-button-text-color: #800000;
    --view-cart-button-background-color: #FFC13C;
    --view-cart-button-hover-text-color: #800000;
    --view-cart-button-hover-background-color: #FFFFFF;
    --checkout-button-text-color: #000000;
    --checkout-button-background-color: #FFC13C;
    --checkout-button-hover-text-color: #000000;
    --checkout-button-hover-background-color: #FFFFFF;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2.elementor-menu-cart--cart-type-mini-cart .elementor-menu-cart__container {
    left: 0;
    right: auto;
    transform: none;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 .elementor-menu-cart__close-button, .elementor-20261 .elementor-element.elementor-element-2fe31a2 .elementor-menu-cart__close-button-custom {
    margin-right: auto;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 .elementor-menu-cart__toggle .elementor-button {
    box-shadow: 0px 0px 0px 0px rgba(250.80001831054688, 250.80001831054688, 250.80001831054688, 0) inset;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 .widget_shopping_cart_content {
    --subtotal-divider-left-width: 0;
    --subtotal-divider-right-width: 0;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 .elementor-menu-cart__product-name a {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    color: #11345C;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 .elementor-menu-cart__product-price {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 .elementor-menu-cart__product-price .product-quantity {
    color: #383131;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 .elementor-menu-cart__footer-buttons a.elementor-button--view-cart {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 .elementor-menu-cart__footer-buttons .elementor-button--view-cart:hover {
    border-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 .elementor-button--view-cart {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 .elementor-menu-cart__footer-buttons .elementor-button--checkout:hover {
    border-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 .elementor-button--checkout {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 .woocommerce-mini-cart__empty-message {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-20261 .elementor-element.elementor-element-2fe31a2 > .elementor-widget-container {
    margin: 0px 0px 12px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-6b9ef26:not(.elementor-motion-effects-element-type-background), .elementor-20261 .elementor-element.elementor-element-6b9ef26 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFC13C;
}

.elementor-20261 .elementor-element.elementor-element-6b9ef26 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-20261 .elementor-element.elementor-element-6b9ef26 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20261 .elementor-element.elementor-element-9422b97 > .elementor-widget-container {
    margin: 5px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-9422b97 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-20261 .elementor-element.elementor-element-a55ff56.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-a55ff56.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-a55ff56.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-a55ff56.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-a55ff56.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-20261 .elementor-element.elementor-element-a55ff56 .elementor-icon {
    font-size: 18px;
}

.elementor-20261 .elementor-element.elementor-element-a55ff56 .elementor-icon svg {
    height: 18px;
}

.elementor-20261 .elementor-element.elementor-element-a55ff56 > .elementor-widget-container {
    margin: 7px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-a55ff56 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-20261 .elementor-element.elementor-element-dc6e7d1 > .elementor-widget-container {
    margin: 5px 0px 0px 5px;
}

.elementor-20261 .elementor-element.elementor-element-dc6e7d1 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-20261 .elementor-element.elementor-element-add0f61.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-add0f61.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-add0f61.elementor-view-default .elementor-icon {
    fill: #000000;
    color: #000000;
    border-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-add0f61 {
    --icon-box-icon-margin: 7px;
    width: auto;
    max-width: auto;
}

.elementor-20261 .elementor-element.elementor-element-add0f61 .elementor-icon {
    font-size: 18px;
}

.elementor-20261 .elementor-element.elementor-element-add0f61 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-add0f61 .elementor-icon-box-title, .elementor-20261 .elementor-element.elementor-element-add0f61 .elementor-icon-box-title a {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-20261 .elementor-element.elementor-element-187ddd0.elementor-view-stacked .elementor-icon {
    background-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-187ddd0.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-187ddd0.elementor-view-default .elementor-icon {
    color: #000000;
    border-color: #000000;
}

.elementor-20261 .elementor-element.elementor-element-187ddd0.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-187ddd0.elementor-view-default .elementor-icon svg {
    fill: #000000;
}

.elementor-20261 .elementor-element.elementor-element-187ddd0 .elementor-icon {
    font-size: 18px;
}

.elementor-20261 .elementor-element.elementor-element-187ddd0 .elementor-icon svg {
    height: 18px;
}

.elementor-20261 .elementor-element.elementor-element-187ddd0 > .elementor-widget-container {
    margin: 7px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-187ddd0 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-20261 .elementor-element.elementor-element-a34ff83 > .elementor-widget-container {
    margin: 6px 0px 0px 7px;
    padding: 0px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-a34ff83 {
    width: auto;
    max-width: auto;
}

.elementor-20261 .elementor-element.elementor-element-e370ab1.elementor-view-stacked .elementor-icon {
    background-color: #800000;
}

.elementor-20261 .elementor-element.elementor-element-e370ab1.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-e370ab1.elementor-view-default .elementor-icon {
    color: #800000;
    border-color: #800000;
}

.elementor-20261 .elementor-element.elementor-element-e370ab1.elementor-view-framed .elementor-icon, .elementor-20261 .elementor-element.elementor-element-e370ab1.elementor-view-default .elementor-icon svg {
    fill: #800000;
}

.elementor-20261 .elementor-element.elementor-element-e370ab1 .elementor-icon {
    font-size: 18px;
}

.elementor-20261 .elementor-element.elementor-element-e370ab1 .elementor-icon svg {
    height: 18px;
}

.elementor-20261 .elementor-element.elementor-element-e370ab1 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-20261 .elementor-element.elementor-element-e370ab1 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-20261 .elementor-element.elementor-element-6e9f1da > .elementor-widget-container {
    margin: -2px 0px 0px -12px;
}

.elementor-20261 .elementor-element.elementor-element-6e9f1da {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu .elementor-item {
    font-family: "Raleway", Sans-serif;
    font-weight: 500;
}

.elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--main .elementor-item {
    color: #7A7A7A;
    fill: #7A7A7A;
}

.elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--dropdown a, .elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-menu-toggle {
    color: #FFFFFF;
}

.elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--dropdown {
    background-color: #3E3D3F;
}

.elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--dropdown a:hover, .elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--dropdown a.highlighted, .elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-menu-toggle:hover {
    color: #FFC13C;
}

.elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: #FFC13C;
}

.elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--dropdown .elementor-item, .elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Raleway", Sans-serif;
    font-weight: 500;
}

.elementor-20261 .elementor-element.elementor-element-82a6de8 div.elementor-menu-toggle {
    color: #021844;
}

.elementor-20261 .elementor-element.elementor-element-82a6de8 div.elementor-menu-toggle svg {
    fill: #021844;
}

@media(max-width: 767px) {
    .elementor-20261 .elementor-element.elementor-element-85024cd {
        width:55%;
    }

    .elementor-20261 .elementor-element.elementor-element-85024cd > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-20261 .elementor-element.elementor-element-a68d95a > .elementor-container {
        max-width: 1057px;
    }

    .elementor-20261 .elementor-element.elementor-element-a68d95a {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-20261 .elementor-element.elementor-element-267a12f {
        width: 45%;
    }

    .elementor-20261 .elementor-element.elementor-element-267a12f.elementor-column > .elementor-widget-wrap {
        justify-content: flex-end;
    }

    .elementor-20261 .elementor-element.elementor-element-9422b97 > .elementor-widget-container {
        margin: 7px 0px 0px 0px;
    }

    .elementor-20261 .elementor-element.elementor-element-9422b97 {
        width: auto;
        max-width: auto;
        align-self: center;
    }

    .elementor-20261 .elementor-element.elementor-element-4fc1eb0 {
        width: 50%;
    }

    .elementor-bc-flex-widget .elementor-20261 .elementor-element.elementor-element-4fc1eb0.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-20261 .elementor-element.elementor-element-4fc1eb0.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-20261 .elementor-element.elementor-element-4fc1eb0.elementor-column > .elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-20261 .elementor-element.elementor-element-4fc1eb0 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-20261 .elementor-element.elementor-element-a55ff56 .elementor-icon {
        font-size: 14px;
    }

    .elementor-20261 .elementor-element.elementor-element-a55ff56 .elementor-icon svg {
        height: 14px;
    }

    .elementor-20261 .elementor-element.elementor-element-a55ff56 > .elementor-widget-container {
        margin: -7px 0px 0px 5px;
    }

    .elementor-20261 .elementor-element.elementor-element-dc6e7d1 > .elementor-widget-container {
        margin: -7px 0px 0px 2px;
    }

    .elementor-20261 .elementor-element.elementor-element-f497bd6 {
        width: 56%;
    }

    .elementor-20261 .elementor-element.elementor-element-add0f61 > .elementor-widget-container {
        margin: 13px 0px 0px 0px;
    }

    .elementor-20261 .elementor-element.elementor-element-410f07c {
        width: 44%;
    }

    .elementor-20261 .elementor-element.elementor-element-187ddd0 .elementor-icon {
        font-size: 14px;
    }

    .elementor-20261 .elementor-element.elementor-element-187ddd0 .elementor-icon svg {
        height: 14px;
    }

    .elementor-20261 .elementor-element.elementor-element-187ddd0 > .elementor-widget-container {
        margin: 9px 0px 0px -17px;
    }

    .elementor-20261 .elementor-element.elementor-element-a34ff83 > .elementor-widget-container {
        margin: 9px 0px 0px 3px;
    }

    .elementor-20261 .elementor-element.elementor-element-0eb107d {
        width: 45%;
    }

    .elementor-20261 .elementor-element.elementor-element-0eb107d.elementor-column > .elementor-widget-wrap {
        justify-content: flex-end;
    }

    .elementor-20261 .elementor-element.elementor-element-e370ab1 .elementor-icon {
        font-size: 14px;
    }

    .elementor-20261 .elementor-element.elementor-element-e370ab1 .elementor-icon svg {
        height: 14px;
    }

    .elementor-20261 .elementor-element.elementor-element-e370ab1 > .elementor-widget-container {
        margin: 4px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-20261 .elementor-element.elementor-element-6e9f1da > .elementor-widget-container {
        margin: 2px -11px 0px -12px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-20261 .elementor-element.elementor-element-55404d0 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 2px 0px 2px 0px;
    }

    .elementor-20261 .elementor-element.elementor-element-4f95768 {
        width: 80%;
    }

    .elementor-20261 .elementor-element.elementor-element-9143a43 {
        text-align: center;
    }

    .elementor-20261 .elementor-element.elementor-element-bc80ad4 {
        width: 20%;
    }

    .elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu .elementor-item {
        font-size: 18px;
        line-height: 1.1em;
    }

    .elementor-20261 .elementor-element.elementor-element-82a6de8 .e--pointer-framed .elementor-item:before {
        border-width: 0px;
    }

    .elementor-20261 .elementor-element.elementor-element-82a6de8 .e--pointer-framed.e--animation-draw .elementor-item:before {
        border-width: 0 0 0px 0px;
    }

    .elementor-20261 .elementor-element.elementor-element-82a6de8 .e--pointer-framed.e--animation-draw .elementor-item:after {
        border-width: 0px 0px 0 0;
    }

    .elementor-20261 .elementor-element.elementor-element-82a6de8 .e--pointer-framed.e--animation-corners .elementor-item:before {
        border-width: 0px 0 0 0px;
    }

    .elementor-20261 .elementor-element.elementor-element-82a6de8 .e--pointer-framed.e--animation-corners .elementor-item:after {
        border-width: 0 0px 0px 0;
    }

    .elementor-20261 .elementor-element.elementor-element-82a6de8 .e--pointer-underline .elementor-item:after, .elementor-20261 .elementor-element.elementor-element-82a6de8 .e--pointer-overline .elementor-item:before, .elementor-20261 .elementor-element.elementor-element-82a6de8 .e--pointer-double-line .elementor-item:before, .elementor-20261 .elementor-element.elementor-element-82a6de8 .e--pointer-double-line .elementor-item:after {
        height: 0px;
    }

    .elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--main .elementor-item {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--dropdown .elementor-item, .elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--dropdown a {
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-20261 .elementor-element.elementor-element-82a6de8 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 24px !important;
    }

    .elementor-20261 .elementor-element.elementor-element-82a6de8 {
        --nav-menu-icon-size: 27px;
    }

    .elementor-20261 .elementor-element.elementor-element-82a6de8 > .elementor-widget-container {
        margin: 6px 0px 0px 0px;
    }
}

@media(min-width: 768px) {
    .elementor-20261 .elementor-element.elementor-element-ca815fc {
        width:37.736%;
    }

    .elementor-20261 .elementor-element.elementor-element-cd0d1b1 {
        width: 17.336%;
    }

    .elementor-20261 .elementor-element.elementor-element-480dab5 {
        width: 19.928%;
    }

    .elementor-20261 .elementor-element.elementor-element-a70fb55 {
        width: 28.551%;
    }

    .elementor-20261 .elementor-element.elementor-element-1fe27c1 {
        width: 25.956%;
    }

    .elementor-20261 .elementor-element.elementor-element-2a421cd {
        width: 18.77%;
    }

    .elementor-20261 .elementor-element.elementor-element-34fb94b {
        width: 26.686%;
    }

    .elementor-20261 .elementor-element.elementor-element-07500ed {
        width: 61.11%;
    }

    .elementor-20261 .elementor-element.elementor-element-084fce0 {
        width: 5.169%;
    }
}

/* Start custom CSS for shortcode, class: .elementor-element-2e345a8 */
.elementor-shortcode a {
    color: #800000 !important;
}

/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-46baa62 */
#limit {
    display: block;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-aada273 */
.elementor-shortcode a {
    color: #800000 !important;
}

/* End custom CSS */
/* Start custom CSS for woocommerce-menu-cart, class: .elementor-element-2fe31a2 */
.elementor-20261 .elementor-element.elementor-element-2fe31a2.elementor-menu-cart--cart-type-mini-cart .elementor-menu-cart__container {
    left: -150px;
    right: 200px;
    transform: none;
}

/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-9422b97 */
#limit {
    display: block;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-6e9f1da */
.elementor-shortcode a {
    color: #800000 !important;
}

/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-6b9ef26 */
#height {
    height: 73px;
}

/* End custom CSS */
