.elementor-37571 .elementor-element.elementor-element-8a6b74e {
    margin-top: 10px;
    margin-bottom: 50px;
}

.elementor-37571 .elementor-element.elementor-element-98b3c07 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-37571 .elementor-element.elementor-element-a54cac8 {
    text-align: left;
}

.elementor-37571 .elementor-element.elementor-element-a54cac8 .elementor-heading-title {
    color: #021844;
    font-family: "Roboto", Sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.elementor-37571 .elementor-element.elementor-element-c9f0298 {
    --divider-border-style: solid;
    --divider-color: #FFC13C;
    --divider-border-width: 6px;
}

.elementor-37571 .elementor-element.elementor-element-c9f0298 .elementor-divider-separator {
    width: 100%;
}

.elementor-37571 .elementor-element.elementor-element-c9f0298 .elementor-divider {
    padding-top: 4px;
    padding-bottom: 4px;
}

.elementor-37571 .elementor-element.elementor-element-b0c45db .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-37571 .elementor-element.elementor-element-b0c45db .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-37571 .elementor-element.elementor-element-b0c45db {
    --e-icon-list-icon-size: 24px;
    --icon-vertical-offset: 0px;
}

.elementor-37571 .elementor-element.elementor-element-b0c45db .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-37571 .elementor-element.elementor-element-aeae4c5 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-37571 .elementor-element.elementor-element-40bf504 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-37571 .elementor-element.elementor-element-40bf504 > .elementor-element-populated, .elementor-37571 .elementor-element.elementor-element-40bf504 > .elementor-element-populated > .elementor-background-overlay, .elementor-37571 .elementor-element.elementor-element-40bf504 > .elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-37571 .elementor-element.elementor-element-40bf504 > .elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(255, 192.99999999999994, 60.000000000000014, 0.24);
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-37571 .elementor-element.elementor-element-aebf03a img {
    width: 65%;
}

.elementor-37571 .elementor-element.elementor-element-aebf03a > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-37571 .elementor-element.elementor-element-500b15e .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.elementor-37571 .elementor-element.elementor-element-500b15e > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-37571 .elementor-element.elementor-element-7d36357 {
    color: #021844;
}

.elementor-37571 .elementor-element.elementor-element-72ff3e3 {
    font-family: "Roboto", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-37571 .elementor-element.elementor-element-5d7930e .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFC13C;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFC13C;
    border-radius: 5px 5px 5px 5px;
}

.elementor-37571 .elementor-element.elementor-element-5d7930e .elementor-button:hover, .elementor-37571 .elementor-element.elementor-element-5d7930e .elementor-button:focus {
    background-color: #FFFFFF;
    border-color: #FFC13C;
}

.elementor-37571 .elementor-element.elementor-element-176c652 .elementor-button {
    fill: #021844;
    color: #021844;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFC13C;
    border-radius: 5px 5px 5px 5px;
}

.elementor-37571 .elementor-element.elementor-element-176c652 .elementor-button:hover, .elementor-37571 .elementor-element.elementor-element-176c652 .elementor-button:focus {
    color: #FFFFFF;
    background-color: #021844;
    border-color: #FFC13C;
}

.elementor-37571 .elementor-element.elementor-element-176c652 .elementor-button:hover svg, .elementor-37571 .elementor-element.elementor-element-176c652 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-37571 .elementor-element.elementor-element-c897500 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-37571 .elementor-element.elementor-element-c897500 > .elementor-element-populated, .elementor-37571 .elementor-element.elementor-element-c897500 > .elementor-element-populated > .elementor-background-overlay, .elementor-37571 .elementor-element.elementor-element-c897500 > .elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-37571 .elementor-element.elementor-element-c897500 > .elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(255, 192.99999999999994, 60.000000000000014, 0.24);
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-37571 .elementor-element.elementor-element-6041937 img {
    width: 65%;
}

.elementor-37571 .elementor-element.elementor-element-6041937 > .elementor-widget-container {
    margin: 0px 0px 31px 0px;
}

.elementor-37571 .elementor-element.elementor-element-c7d0f9f .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.elementor-37571 .elementor-element.elementor-element-236c1d5 {
    color: #021844;
}

.elementor-37571 .elementor-element.elementor-element-77b0e2a {
    font-family: "Roboto", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-37571 .elementor-element.elementor-element-d5998cb .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFC13C;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFC13C;
    border-radius: 5px 5px 5px 5px;
}

.elementor-37571 .elementor-element.elementor-element-d5998cb .elementor-button:hover, .elementor-37571 .elementor-element.elementor-element-d5998cb .elementor-button:focus {
    background-color: #FFFFFF;
    border-color: #FFC13C;
}

.elementor-37571 .elementor-element.elementor-element-d5998cb > .elementor-widget-container {
    margin: 3px 0px 0px 0px;
}

.elementor-37571 .elementor-element.elementor-element-da30d72 .elementor-button {
    fill: #021844;
    color: #021844;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFC13C;
    border-radius: 5px 5px 5px 5px;
}

.elementor-37571 .elementor-element.elementor-element-da30d72 .elementor-button:hover, .elementor-37571 .elementor-element.elementor-element-da30d72 .elementor-button:focus {
    color: #FFFFFF;
    background-color: #021844;
    border-color: #FFC13C;
}

.elementor-37571 .elementor-element.elementor-element-da30d72 .elementor-button:hover svg, .elementor-37571 .elementor-element.elementor-element-da30d72 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-37571 .elementor-element.elementor-element-37816dd > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-37571 .elementor-element.elementor-element-37816dd > .elementor-element-populated, .elementor-37571 .elementor-element.elementor-element-37816dd > .elementor-element-populated > .elementor-background-overlay, .elementor-37571 .elementor-element.elementor-element-37816dd > .elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-37571 .elementor-element.elementor-element-37816dd > .elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(255, 192.99999999999994, 60.000000000000014, 0.24);
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-37571 .elementor-element.elementor-element-e27b236 img {
    width: 65%;
}

.elementor-37571 .elementor-element.elementor-element-e27b236 > .elementor-widget-container {
    margin: 0px 0px 32px 0px;
}

.elementor-37571 .elementor-element.elementor-element-de5b6a1 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.elementor-37571 .elementor-element.elementor-element-fc93d95 {
    color: #021844;
}

.elementor-37571 .elementor-element.elementor-element-e2320d2 {
    font-family: "Roboto", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-37571 .elementor-element.elementor-element-758628d .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFC13C;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFC13C;
    border-radius: 5px 5px 5px 5px;
}

.elementor-37571 .elementor-element.elementor-element-758628d .elementor-button:hover, .elementor-37571 .elementor-element.elementor-element-758628d .elementor-button:focus {
    background-color: #FFFFFF;
    border-color: #FFC13C;
}

.elementor-37571 .elementor-element.elementor-element-758628d > .elementor-widget-container {
    margin: 2px 0px 0px 0px;
}

.elementor-37571 .elementor-element.elementor-element-3ee1afe .elementor-button {
    fill: #021844;
    color: #021844;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFC13C;
    border-radius: 5px 5px 5px 5px;
}

.elementor-37571 .elementor-element.elementor-element-3ee1afe .elementor-button:hover, .elementor-37571 .elementor-element.elementor-element-3ee1afe .elementor-button:focus {
    color: #FFFFFF;
    background-color: #021844;
    border-color: #FFC13C;
}

.elementor-37571 .elementor-element.elementor-element-3ee1afe .elementor-button:hover svg, .elementor-37571 .elementor-element.elementor-element-3ee1afe .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-37571 .elementor-element.elementor-element-625add9 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-37571 .elementor-element.elementor-element-625add9 > .elementor-element-populated, .elementor-37571 .elementor-element.elementor-element-625add9 > .elementor-element-populated > .elementor-background-overlay, .elementor-37571 .elementor-element.elementor-element-625add9 > .elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-37571 .elementor-element.elementor-element-625add9 > .elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(255, 192.99999999999994, 60.000000000000014, 0.24);
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-37571 .elementor-element.elementor-element-481e19e img {
    width: 65%;
}

.elementor-37571 .elementor-element.elementor-element-04abfa5 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.elementor-37571 .elementor-element.elementor-element-2e47880 {
    color: #021844;
}

.elementor-37571 .elementor-element.elementor-element-c503278 {
    font-family: "Roboto", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-37571 .elementor-element.elementor-element-c2af725 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFC13C;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFC13C;
    border-radius: 5px 5px 5px 5px;
}

.elementor-37571 .elementor-element.elementor-element-c2af725 .elementor-button:hover, .elementor-37571 .elementor-element.elementor-element-c2af725 .elementor-button:focus {
    background-color: #FFFFFF;
    border-color: #FFC13C;
}

.elementor-37571 .elementor-element.elementor-element-8a9ba89 .elementor-button {
    fill: #021844;
    color: #021844;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFC13C;
    border-radius: 5px 5px 5px 5px;
}

.elementor-37571 .elementor-element.elementor-element-8a9ba89 .elementor-button:hover, .elementor-37571 .elementor-element.elementor-element-8a9ba89 .elementor-button:focus {
    color: #FFFFFF;
    background-color: #021844;
    border-color: #FFC13C;
}

.elementor-37571 .elementor-element.elementor-element-8a9ba89 .elementor-button:hover svg, .elementor-37571 .elementor-element.elementor-element-8a9ba89 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-37571 .elementor-element.elementor-element-a799534 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-37571 .elementor-element.elementor-element-a799534 > .elementor-element-populated, .elementor-37571 .elementor-element.elementor-element-a799534 > .elementor-element-populated > .elementor-background-overlay, .elementor-37571 .elementor-element.elementor-element-a799534 > .elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-37571 .elementor-element.elementor-element-a799534 > .elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(255, 192.99999999999994, 60.000000000000014, 0.24);
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-37571 .elementor-element.elementor-element-7bac0ba > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-37571 .elementor-element.elementor-element-7bac0ba > .elementor-element-populated, .elementor-37571 .elementor-element.elementor-element-7bac0ba > .elementor-element-populated > .elementor-background-overlay, .elementor-37571 .elementor-element.elementor-element-7bac0ba > .elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-37571 .elementor-element.elementor-element-7bac0ba > .elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(255, 192.99999999999994, 60.000000000000014, 0.24);
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

@media(min-width: 768px) {
    .elementor-37571 .elementor-element.elementor-element-98b3c07 {
        width:25.526%;
    }

    .elementor-37571 .elementor-element.elementor-element-aeae4c5 {
        width: 74.474%;
    }
}

@media(max-width: 767px) {
    .elementor-37571 .elementor-element.elementor-element-8a6b74e {
        margin-top:-10px;
        margin-bottom: 0px;
    }

    .elementor-37571 .elementor-element.elementor-element-4950821 {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .elementor-37571 .elementor-element.elementor-element-40bf504 > .elementor-element-populated {
        margin: 020px 10px 20px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }

    .elementor-37571 .elementor-element.elementor-element-c897500 > .elementor-element-populated {
        margin: 020px 10px 20px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }

    .elementor-37571 .elementor-element.elementor-element-37816dd > .elementor-element-populated {
        margin: 20px 10px 20px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }

    .elementor-37571 .elementor-element.elementor-element-ecae054 {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .elementor-37571 .elementor-element.elementor-element-625add9 > .elementor-element-populated {
        margin: 20px 10px 20px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }

    .elementor-37571 .elementor-element.elementor-element-a799534 > .elementor-element-populated {
        margin: 20px 10px 20px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }

    .elementor-37571 .elementor-element.elementor-element-7bac0ba > .elementor-element-populated {
        margin: 20px 10px 20px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
}

/* Start custom CSS for section, class: .elementor-element-8a6b74e */
.dt-sc-one-half {
    width: 100% !important;
}

/* End custom CSS */
