/* CSS Document */
@font-face {
	font-family:star;
	src:url(../fonts/star.eot);
	src:url(../fonts/star.eot?#iefix) format("embedded-opentype"), url(../fonts/star.woff) format("woff"), url(../fonts/star.ttf) format("truetype"), url(../fonts/star.svg#star) format("svg");
	font-weight:400;
	font-style:normal
}
@font-face {
	font-family:WooCommerce;
	src:url(../fonts/WooCommerce.eot);
	src:url(../fonts/WooCommerce.eot?#iefix) format("embedded-opentype"), url(../fonts/WooCommerce.woff) format("woff"), url(../fonts/WooCommerce.ttf) format("truetype"), url(../fonts/WooCommerce.svg#WooCommerce) format("svg");
	font-weight:400;
	font-style:normal
}



/*** Popup / Zoom Overlay ***/
.pswp__top-bar .pswp__counter {
    text-align: center;
}

.pswp__ui--one-slide .pswp__top-bar .pswp__counter {
    text-align: left;
}

.pswp__counter {
    display: block !important;
    margin: 0 auto;
    right: 0;
    top: auto;
}

.pswp__ui {
    float: left;
}

.pswp__ui button.pswp__button[class*='pswp__button--'] {
    background: none !important;
    float: left;
    height: 50px;
    margin-top: 0;
    padding: 0;
    position: relative;
    width: 50px;
}

.pswp__ui .pswp__top-bar button.pswp__button[class*='pswp__button--'] {
    float: right;
}

.pswp__ui button.pswp__button[class*='pswp__button--']:before {
    background-image: url(woocommerce/images/default-skin.png);
    content: '';
    display: block;
    height: 50px;
    position: absolute;
    top: 0;
    width: 50px;
}

.pswp__button--arrow--right:before,
.pswp__button--arrow--left:before {
    top: 11px;
}

.pswp__button.pswp__button--close:before {
    background-position: 2px -42px;
}

.pswp__button.pswp__button--share:before {
    background-position: -42px -42px;
}

.pswp__button.pswp__button--fs:before {
    background-position: -41px 2px;
}

.pswp__button.pswp__button--zoom:before {
    background-position: -84px 2px;
}

.pswp--zoomed-in .pswp__button.pswp__button--zoom:before {
    background-position: -130px 2px;
}

.pswp__button.pswp__button--arrow--left:before {
    background-position: -130px -35px;
    left: 0;
}

.pswp__button.pswp__button--arrow--right:before {
    background-position: -85px -35px;
    right: 0;
}

.pswp__caption__center {
    text-align: center !important;
}